<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007833211769-8f66eq0s8avi98no0dk4brev95ehk6te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007833211769-8f66eq0s8avi98no0dk4brev95ehk6te</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007833211769-qhic7mlo1apkgug4h0f5lrmd363trbuf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATbWwdVygaz_QPRfhkgeao7r0GfcfbTzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1007833211769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AIU-App</string>
	<key>PROJECT_ID</key>
	<string>pmsaiu-1b655</string>
	<key>STORAGE_BUCKET</key>
	<string>pmsaiu-1b655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007833211769:ios:677cf818f9cb08111bc5a8</string>
	<key>DATABASE_URL</key>
	<string>https://pmsaiu-1b655.firebaseio.com</string>
</dict>
</plist>